@use "/src/sass/base/variables.scss" as *;

.activities {
    margin-top: 60px;

    &__wrapper {
        margin-top: 20px;
    }

    &__item {
        width: 530px;
        margin: 0 auto;
    }

    &__item-margin-top {
        margin-top: 40px;
    }

    &__img {
        margin-top: 40px;
    }

    &__text {
        margin-top: 20px;
        color: $Dark;
        font-size: 16px;
        font-weight: normal;
        line-height: 19px;
    }

    &__text-color {
        color: $Ceramic;
    }
}

@media screen and (min-width: 768px) {
    .activities {

        &__wrapper {
            margin-top: 40px;
        }

        &__text {
            margin-top: 25px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .activities {

        &__wrapper {
            margin-top: 80px;
        }

        &__item-margin-top {
            margin: 0;
        }

        &__text {
            margin: 25px 0 0 0;
            width: auto;
        }

        &__text_fixed-width {
            width: 556px;
        }

        &__item {
            padding: 0 10px;
            margin: 0;
        }

        &__img {
            margin: 60px auto 0 auto;
            width: auto;
        }
    }
}