@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
  @include buttons;
  font-size: 20px;
  width: 230px;
  height: 50px;
}

.btn-send {
  @include buttons;
  width: 220px;
  height: 40px;
  font-size: 16px;

  &:focus {
    color: $Dark;
    border: none;
    outline: 1px solid $Ceramic;
  }

  &:disabled {
    color: $ui-disabled;
    border: 1px solid $ui-disabled;
  }
}

.btn-submit {
  @include buttons;
  width: 90px;
  height: 40px;
  font-size: 16px;
  color: $Light;
  border: 1px solid $Light;
  border-radius: 2px;
  background-color: transparent;

  &:disabled {
    color: $ui-disabled;
    border: 1px solid $ui-disabled;
  }
}

.btn-read {
  @include buttons;
  width: 145px;
  min-height: 32px;
  font-size: 14px;

  &:focus {
    border: 1px solid $Ceramic;
    outline: 1px solid $Ceramic;
  }
}

@media screen and (min-width: 1200px) {
  .btn-default {
    &:hover {
      background-color: $Dark;
      color: $Light;
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
      background: rgba(217, 217, 217, 0.1);
      color: $Dark;
      border: none;
    }
  }

  .btn-send {
    &:hover {
      border: 1px solid $Ceramic;
      cursor: pointer;
      color: $Ceramic;
    }

    &:active {
      color: $Dark;
      border: 1px solid $Ceramic;
    }
  }

  .btn-read {
    @include btn-border-color-read;
  }
}

@media screen and (min-width: 1920px) {
  .btn-default {
    width: 330px;
    height: 60px;
  }
}
